@charset 'UTF-8';
*{
  font-family: serif;
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.back{
  background-image:url(../spbackground.png);
  background-size: contain;
  background-repeat: repeat-x;
  padding: 5%;
 
}

h1{
  text-align: center;
  user-select: all;
  margin-bottom: 24px;
}

section{
  width:90%;
  height:auto;
  max-width:600px;
  box-shadow: 0px 0px 10px rgb(87, 201, 26) ;
  margin:auto;
  padding:16px;
  border-radius: 10px;
  /* background-color: aqua; */
}
h2{
  font-weight: normal;
  text-align: center;
  border-radius:5px;

}

.btn{
  border-radius: 50%;
  /* margin-top:16px; */
  background-color: rgb(71, 42, 3);
  color:white;
  border-color: rgb(71, 42, 3);
  cursor:pointer;
  user-select: none;
  border-bottom:5px solid rgb(126, 75, 8)
}
.btn:hover{
  opacity:.7;
}
.btn:active{
  opacity:.5;
  border-bottom:1px solid rgb(126,75,8);
  margin-top:4px;
}
.option{
  width:auto;
  margin-top:10px;
  color:white
}
p{
  background-color: #817f7f;
  color:darkturquoise;
}
@media screen and (max-width:600px){
  input{
    display:block;
  }
  btn:hover{
    opacity: 1;
  }
  btn:active{
    opacity: 1;
  }
}
